# Node.js modules
node_modules

# Dosbox configuration files
nodes
dosbox?.conf

# Ignore everything in /drive/doors/
dosbox/drive/doors/*

# Exclude /drive/doors/bin/ from being ignored
!dosbox/drive/doors/bin/

# Ensure that files directly in /drive/doors/ are not ignored 
!dosbox/drive/doors/*.*
